# Supabase
VITE_SUPABASE_URL=https://xhyvzxcnruwymskeycvf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhoeXZ6eGNucnV3eW1za2V5Y3ZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MDMwNDQsImV4cCI6MjA5MDQ3OTA0NH0.0o1ET1W1O-ck7cJHlBEZmEUEBgXKBRZQv7ZD-0bWoQA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhoeXZ6eGNucnV3eW1za2V5Y3ZmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDkwMzA0NCwiZXhwIjoyMDkwNDc5MDQ0fQ.UugEIJjfBtKXAu-rQJiJuxRowIrBbozJ0NZQWY7Aseo

# Open Router
OPENROUTER_API_KEY=sk-or-v1-ca2...60a

# M-Pesa
MPESA_CONSUMER_KEY=HvsgmAGnGMvZxMBPBTIJlTK8WtzD3NNBp5kFGEWtdGb86K05
MPESA_CONSUMER_SECRET=XU2fur5kiC94TNyc1vtCSAABH2vwZtOhUrvUUtbzRWqDauMBDR1djbv9WdjbYIGj

# Auth
JWT_SECRET=26ab8e0a-e621-4702-afb6-09856975a143
